@{
}

<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    
<div class="confirmform">
    <p>Bạn xác nhận muốn xoá đánh giá này? Mã đánh giá: @ViewBag.rid</p>
    <div class="action">
        <form asp-action="DeleteReviewConfirm" method="post" id="rvdeleteform_@ViewBag.rid" style="display:inline">
            <input type="hidden" name="rid" value="@ViewBag.rid" />
            <label><input type="submit" style="opacity: 0%; position: absolute; width: 0; height: 0;"><i class='bx bx-check' ></i></input></label>
        </form>
        <label id="cancel_@ViewBag.rid"><i class='bx bx-x'></i></label>
    </div>
</div>

<script>
    $("#cancel_" + @ViewBag.rid).click(function (e) {
        $("#review_" + @ViewBag.rid).show();
        $(".deleteconfirm[id='" + @ViewBag.rid + "']").hide();
    });
    $("#rvdeleteform_" + @ViewBag.rid).submit(function (e) {
        e.preventDefault();
        $.ajax({
            type: "POST",
            url: '@Url.Action("DeleteReviewConfirm", "Review")',
            data: $(this).serialize(),
            success: function (response) {
                ajaxList();
                ajaxStats();
                ajaxMaker();
                if (response == true) alertResult(true, "Xoá đánh giá thành công");
                else alertResult(false, "Xoá đánh giá thất bại");
            }
        });
    });
</script>