@{
}

@model TDanhGia

<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

<form asp-controller="Review" asp-action="AlterReply" method="post" id="replyForm_@ViewBag.rid">
    <div class="makereview">
        <input type="hidden" name="MaDanhGia" value="@ViewBag.rid"></input>
        <div class="reviewcomment">
            <textarea asp-for="TraLoi" class="comment-text" placeholder="Trả lời @ViewBag.rid" id="@ViewBag.rid">
                @if (!string.IsNullOrEmpty(Model.TraLoi))
                {
                    @foreach(string s in Model.TraLoi.Split("\n"))
                    {
                        @s<br>
                    }
                }
            </textarea>
        </div>
        <div class="action">
            <label class="clear" id="replyedit_@ViewBag.rid"><i class='bx bx-eraser'></i></label>
            <label class="cancel" id="replyedit_@ViewBag.rid"><i class='bx bx-x'></i></label>
            <label><input type="submit"><i class='bx bxs-send'></i></input></label>
        </div>
    </div>
</form>

<script>
    $("label.clear[id='replyedit_" + @ViewBag.rid + "']").click(function (e) {
        $("textarea[id='" + @ViewBag.rid + "']").val('');
    });
    $("label.cancel[id='replyedit_" + @ViewBag.rid + "']").click(function (e) {
        $("div.makingreply[id='" + @ViewBag.rid + "']").hide();
        $("#reply_" + @ViewBag.rid).show();
    });
    //do the reply ajax form
    $("#replyForm_" + @ViewBag.rid).submit(function (e) {
        e.preventDefault();
        $.ajax({
            type: "POST",
            url: '@Url.Action("AlterReply", "Review")',
            data: $(this).serialize(),
            success: function (response) {
                ajaxList();
                if (response == true) alertResult(true, "Sửa câu trả lời thành công");
                else alertResult(false, "Sửa câu trả lời thất bại");
            }
        });
    });
</script>